<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDELaunch">
    <booleanAttribute key="auto_pick_program" value="false"/>
    <stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="192.168.178.100"/>
    <booleanAttribute key="defaults_pending" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="build/x86_64-debug/fm"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FileManager"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/FileManager"/>
        <listEntry value="/FileManager/build/x86_64-debug/fm"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
        <listEntry value="1"/>
    </listAttribute>
</launchConfiguration>
